* {
  margin: 0;
  padding: 0;
}

.logo {
  font-size: 3rem;
  font-weight: 700;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.menu ul {
  list-style-type: none;
}

.menu ul li {
  display: inline;
  margin: 1rem;
  position: relative;
}

.menu ul li a {
  text-decoration: none;
  display: inline-block;  
}

.user {
  display: flex;
  gap: 1.5rem;
}

.menu ul ul {
  display: none;
  left: 0;
  position: absolute;
}

.menu ul li:hover ul {
  display: block;  
}

.menu ul ul li a {
  display: block;
}

.btn-login {
  background-color: white;
  border: none;
  cursor: pointer;
}

.btn-register {
  background-color: white;
  border-radius: 10px;
  padding: 8px 15px;
  cursor: pointer;  
}