* {
  margin: 0;
  padding: 0;
}

body {
  background: rgb(248, 244, 244);
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
}

.logo {
  font-size: 3rem;
  font-weight: 700;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.menu ul {
  list-style-type: none;
}

.menu ul li {
  display: inline;
  margin: 1rem;
  position: relative;
  
}

.menu ul li a {
  text-decoration: none;
  display: inline-block;  
}

.options {
  background: #fff;
  border-radius: 8px;
  margin-top: 20px;
  padding: 10px;
  width: 120px;
  box-shadow: 00 3px rgba(0,0,0,0.1);
}

.options-company {
  background: #fff;
  border-radius: 8px;
  margin-top: 20px;
  padding: 10px;
  width: 120px;
  box-shadow: 00 3px rgba(0,0,0,0.1);
}

.options .option {
  display: flex;
  align-items: center;
  gap: 6px;
}

.options-company .option {
  display: flex;
  align-items: center;
  gap: 6px;
}

.users {
  display: flex;
  gap: 1.5rem;
}

.menu .options {
  display: block;
  left: -60px;
  position: absolute;
}

.menu .options-company {
  display: block;
  left: -20px;
  position: absolute;
}

.select-btn.active .options {
  display: none;
}

.select-btn-company.active .options-company {
  display: none;
}

.btn-login {
  background: rgb(248, 244, 244);
  border: none;
  cursor: pointer;
}

.btn-register {
  background: rgb(248, 244, 244);
  border-radius: 10px;
  padding: 8px 15px;
  cursor: pointer;  
}